[Unit]
Description=Consul agent
Wants=network-online.target
After=network-online.target
[Service]
ExecStart=/usr/bin/consul agent -config-dir=/etc/consul.d 
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
